.resource-scheduler .vis-timeline .vis-item {
    border: none;
    border-radius: 0;
}
.resource-scheduler .vis-item .vis-item-content {
    padding: 0;
}
.resource-scheduler .vis-item.vis-range .vis-item-content {
    display: block;
}