.resource-scheduler .vis-timeline .vis-item {
    border: none;
    border-radius: 0;
    overflow: hidden;
    background: transparent;
}
.resource-scheduler .vis-item .vis-item-content {
    padding: 0;
}
.resource-scheduler .vis-item.vis-range .vis-item-content {
    display: block;
}
.resource-scheduler .vis-labelset .vis-label .vis-inner {
    padding: 0;
}
.resource-scheduler .vis-group-level-unknown-but-gte1 {
    border: none;
}
.resource-scheduler .vis-label.vis-nested-group.vis-group-level-0 {
    background-color: inherit;
}
.resource-scheduler .vis-ltr .vis-label.vis-nested-group .vis-inner {
    padding-left: 0;
}
.resource-scheduler .vis-ltr .vis-label:not(.vis-nesting-group):not(.vis-group-level-0) {
    padding-left: 0;
}
.resource-scheduler .vis-major {
    font-weight: bold;
}
.resource-scheduler .vis-item.vis-background {
    background-color: white;
}
.resource-scheduler .vis-timeline {
    background-color: white;
}
.resource-scheduler .vis-grid {
    background-color: #F8F8F8;
}
.resource-scheduler .vis-time-axis .vis-text {
    background-color: white;
}