.resource-scheduler .vis-timeline .vis-item {
    border: none;
    border-radius: 0;
    overflow: hidden;
    background: transparent;
}
.resource-scheduler .vis-item .vis-item-content {
    padding: 0;
}
.resource-scheduler .vis-item.vis-range .vis-item-content {
    display: block;
}
.resource-scheduler .vis-labelset .vis-label .vis-inner {
    padding: 0;
}
